<div class="conatiner-fluid" style="padding-top:20px;">  
      <div class="row">
        <div class="col-md-6">
            <form action="">
                <div class="form-group">
                    <select name="city" id="city" [(ngModel)]="city" (change)="onSelectCity()" class="form-control">
                        <option value="null">Choose city Name</option>
                        <option value="banglore">Banglore</option>
                        <option value="manglore">Manglore</option>
                        <option value="mumbai">Mumbai</option>
                        <option value="chennai">Chennai</option>
                        <option value="delhi">Delhi</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-md-6">  
          <div class="form-group">
              <input class="form-control" type="text" placeholder="Search......." [(ngModel)]="filter">   
          </div>     
      </div> 
      </div>
       
       <div class="row">
          <div class="col-md-12 table table-responsive">
            <table class="table table-striped table-bordered">  
              <thead class="text-center">  
                <tr>  
                  <th>IFS</th>  
                  <th>BankID</th>  
                  <th>Address</th>  
                  <th>City</th>  
                  <th>District</th>  
                  <th>State</th>  
                  <th>BankName</th>
                </tr>  
              </thead>  
              <tbody class ="text-center">  
                <tr *ngFor="let x of allbanks | async |filter:filter| 
                           paginate: { itemsPerPage: 10, currentPage: p }">  
                  <td>{{x.ifsc}}</td>  
                  <td>{{x.bank_id}}</td>  
                  <td>{{x.address}}</td>  
                  <td>{{x.city}}</td>  
                  <td>{{x.district}}</td>  
                  <td>{{x.state}}</td>  
                  <td>{{x.bank_name}}</td>
                </tr>  
              </tbody>           
            </table> 
          </div>
       </div>
      <div class="row">
          <div class="col-md-12">
              <div class="well well-sm">
                <ul class="pagination">  
                  <pagination-controls (pageChange)= "p = $event"></pagination-controls>  
               </ul>
              </div>
          </div>
      </div>
</div>



